In [ ]:
# what is use of loop?
# repeatdly executing same for every new value

# Note: in python there are only two loops
# 1) for
# 2) while
# 3) nested loops(nested for or nested while)

In [2]:
data = [1, 2, 3, 4]

# mul every value in list with 2

# first val
print(data[0] * 2) 
print(data[1] * 2)
print(data[2] * 2)
print(data[3] * 2)

2
4
6
8

In [12]:
data = [10, 2, 3, 4, 5, 6, 7]

"""
for <var_name> in iterable/sequence object:
    <block of statements>
    ---
    ---
    ---
    ---
---
note: iterables, list, tuple, string, generator.
"""

# Example
data = [1,2]
for num in data: # num = 5
    print(num * 2) # 10

print("OUTSIDE")

2
4
OUTSIDE

In [15]:
# write a program to print all even numbers in given list?
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 35]

#even_list = []

for num in data: # num = 4
    if num % 2 == 0: # True
        print(num)

#print(even_list)

2
4
6
8
10
12

In [24]:
# write a program to filter whose name starts with 'a'

names = ['akhila', 'mounika', 'ramesh', 'ashok', 'badra']

filter_val = 'a'

# output = ['akhila', 'ashok' ]
out = []

for name in names:
    char = name[0]
    if char == filter_val: # 'm'
        out.append(name)

print(out)

['akhila', 'ashok']

In [31]:
# write a porgam to divid evert list item with 2 and print the output

data = [3, 5, 6, 7, 8, 9, 9]
for val in data:
    print("Actual Val", val)
    print("Divid", val/2)
    print("exp", val**2)
    print("floor", val//2)
    print("-- ****** --")

Actual Val 3
Divid 1.5
exp 9
floor 1
-- ****** --
Actual Val 5
Divid 2.5
exp 25
floor 2
-- ****** --
Actual Val 6
Divid 3.0
exp 36
floor 3
-- ****** --
Actual Val 7
Divid 3.5
exp 49
floor 3
-- ****** --
Actual Val 8
Divid 4.0
exp 64
floor 4
-- ****** --
Actual Val 9
Divid 4.5
exp 81
floor 4
-- ****** --
Actual Val 9
Divid 4.5
exp 81
floor 4
-- ****** --

In [32]:
# iterable objects : list, tuple, string

In [33]:
# tuple
data = (1,2,3,4,4,5,5,5,5)

for val in data:
    print(val)

1
2
3
4
4
5
5
5
5

In [39]:
# lets iterate over the string, convert to upper and print

location = "Hyderabad"
for char in location:
    print(char.lower())

h
y
d
e
r
a
b
a
d

In [52]:
# range() --> range is bult-in function which generate sequence of values 
# range --> start with zero and endwith n - 1
for i in range(-50, -2):
    print(i)

In [71]:
# write a program to print list data by using index position
data = [12,288,3,4555,5,6,88,55,66,77]
#data[0]
#data[1]
for i in range(len(data)): # [0,1,2,3,4,5,6]
    val = data[i] # what i is index postion
    print(val)

12
288
3
4555
5
6
88
55
66
77

In [77]:
# write a program to sum up to 50 numbers

sum_val = 0
for val in range(1, 5): 
    sum_val += val
    
print(sum_val)

10

In [75]:
print(sum(range(1, 5)))

10